{% extends 'base.html' %}
{% block header %}Boletins{% endblock %}
{% block content %}
    
    <section class="container w-50 mt-5">
        <button class="btn btn-secondary mb-3 " type="button" onclick="seth('notas/all')">
            Cadastra notas em massa
        </button>
        
    </section>
    <section class="container  w-50 p-3 mt-3 ">
        
        {% if alunos %}
     
        
        <ul class="list-group">
            {% for aluno in alunos %}
            <li class="list-group-item d-flex">{{aluno.nome}}
                <div class="ml-5">
                    <button class="btn btn-secondary  " type="button" onclick="seth('/boletin/procurar?cpf={{aluno.cpf}}&turma={{turma.id}}')">
                        Novo boletin
                    </button>
                    <button class="btn btn-secondary  " type="button" onclick="seth('/boletin/listar?cpf={{aluno.cpf}}&turma={{turma.id}}')">
                        ver todos
                    </button>
                </div>
            </li>
            {% endfor %}
            
        </ul>
        {% else %}
            <h3 class="text-center">Selecione uma turma</h3>
        {% endif %}
    </section>
    <script type="text/javascript">
        function seth(href){
            document.location = href;
        }
    </script>
{% endblock %}